<div class=" w-50 border border-secondary border-1 p-3 " 
style="font-family:'Nunito';
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.5);
    font-style: italic;
    margin: 3%;
    margin-left: 25%;">
    <h1 class="display-5 p-3 mb-2 bg-secondary text-white">
        Project : <%= project.name %>
    </h1>
    <h4 class="display-6 p-3 mb-2 bg-light text-dark">
        Author : <%= project.author %>
    </h4>
    <h5 class="display-6 p-3 mb-2 bg-info text-dark">
        Description : <%= project.description %>
    </h5>
</div>

  <%-include('./partials/_issues'); %>